:root {
  --main-txt-color: #262626;
  --second-text-color: #a8a8a8;
  --banner-color: #a60540;
  --main-bg-color: #ffffff;
  --body-bg-color: #f7f7f7;
  --bar-bg-color: #ffffff;
  --search-bar-bg-color: #353a48;
  --btn-bg-color: #dbdae5;
  --sub-bg-color: #f3f3f3;
  --black-bg-color: #000000;
  --footer-bg-color: #e0e0e0;
  --other-bg-color: #404040;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  opacity: 0.7;
  text-decoration: none;
}

body {
  color: var(--main-txt-color);
  background-color: red;
  margin: 0;
  padding: 0;
}

h1 {
  clear: both;
  display: block;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  color: var(--main-txt-color);
}

h2 {
  clear: both;
  display: block;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  font-size: 48px;
  text-align: center;
}

h3 {
  padding: 1rem 0;
}

img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

input {
  max-width: 100%;
  font-family: initial;
}

textarea {
  font-family: initial;
}

main.container {
  margin: 2rem auto;
  padding: 0 1rem;
}

nav ul li > ul:hover,
nav ul li:hover > ul {
  display: inherit;
}

nav ul ul {
  background-color: var(--main-bg-color);
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 1;
}

nav ul ul li {
  display: list-item;
  min-width: 170px;
  position: relative;
}

nav#block-social {
  display: inline-block;
  line-height: 36px;
}

p,
.meta-tag {
  color: var(--main-txt-color);
}

ul.quicktabs-tabs {
  margin: 2rem auto !important;
  padding: 0 0 40px;
  text-align: center;
}

ul.quicktabs-tabs li {
  font-size: 1.1rem;
}

ul.quicktabs-tabs li a {
  border-radius: 20px;
  padding: 6px 20px 5px;
}

ul.quicktabs-tabs li.active a {
  border: 1px solid var(--main-txt-color) !important;
  border-radius: 20px;
  padding: 6px 20px 5px;
}

ul.tabs.primary {
  font-family: verdana;
  font-size: 12px;
  height: 26px;
  line-height: 24px;
  list-style: none;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
}

ul.tabs.primary a {
  color: var(--search-bar-bg-color);
  text-decoration: none;
}

ul.tabs.primary li {
  background: #d1d1d1;
  border: 1px solid #aaa;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 var(--main-bg-color);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 var(--main-bg-color);
  display: inline-block;
  margin: 0 -5px;
  padding: 0 20px;
  position: relative;
  text-shadow: 0 1px var(--main-bg-color);
  z-index: 0;
}

ul.tabs.primary li.is-active {
  background: var(--main-bg-color);
  border-bottom-color: var(--main-bg-color);
  color: #333;
  z-index: 2;
}

ul.tabs.primary li.is-active a {
  background-color: var(--main-bg-color);
}

ul.tabs.primary li.is-active:after {
  -webkit-box-shadow: -2px 2px 0 var(--main-bg-color);
          box-shadow: -2px 2px 0 var(--main-bg-color);
}

ul.tabs.primary li.is-active:before {
  -webkit-box-shadow: 2px 2px 0 var(--main-bg-color);
          box-shadow: 2px 2px 0 var(--main-bg-color);
}

ul.tabs.primary li:after {
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  -webkit-box-shadow: -2px 2px 0 #d1d1d1;
          box-shadow: -2px 2px 0 #d1d1d1;
  right: -6px;
}

ul.tabs.primary li:before {
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  -webkit-box-shadow: 2px 2px 0 #d1d1d1;
          box-shadow: 2px 2px 0 #d1d1d1;
  left: -6px;
  border: 1px solid #aaa;
  bottom: -1px;
  content: " ";
  height: 5px;
  position: absolute;
  width: 5px;
}

ul.tabs.primary li:after {
  border: 1px solid #aaa;
  bottom: -1px;
  content: " ";
  height: 5px;
  position: absolute;
  width: 5px;
}

ul.tabs.primary:before {
  border-bottom: 1px solid #aaa;
  bottom: 0;
  content: " ";
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#block-abonnezvous {
  background: #eaeaea;
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}

#block-abonnezvous .paywall_bouton {
  background: var(--banner-color);
  border-radius: 3px;
  color: var(--main-bg-color);
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding: 12px 13px;
  text-align: center;
}

#block-abonnezvous p,
#block-abonnezvous h2 {
  margin-bottom: 1rem;
}

#block-gobackblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1rem 0;
}

#block-gobackblock .button {
  display: block;
  width: 100px;
  text-align: center;
  float: none;
  background-color: var(--banner-color);
  color: var(--main-txt-color);
}

#block-cartbutton {
  display: inline-block;
  font-size: 14px;
  height: 36px;
  letter-spacing: 1px;
  line-height: 36px;
  position: relative;
}

#block-copyright {
  color: var(--main-txt-color);
}

#block-copyright .field--type-text-with-summary {
  padding: 0;
}

#citation .field--name-field-pour-citer {
  color: var(--main-txt-color);
  font-family: Lekton, sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 1rem;
}

#dossiers .views-row,
#filter .views-row {
  padding: 1rem;
}

#editorial,
#dossiers,
#individuel {
  margin: 2em auto;
}

#editorial .editorial-name {
  font-size: 1.1rem;
  font-weight: bolder;
}

#editorial h3 {
  padding: 0;
}

#intro {
  position: relative;
  width: 100%;
}

#intro .issue-banner {
  position: relative;
  margin: 1rem 2rem;
  padding: 1rem 0;
}

#intro .issue-banner::before {
  content: "";
  background-color: var(--banner-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1;
}

#intro .issue-banner.single-issue::before {
  background-color: var(--other-bg-color);
}

#intro .embed-video,
#intro .video-wrapper {
  position: static;
}

#intro .field--name-field-issue-number::before {
  color: var(--text_03);
  content: "#";
  display: inline-block;
  font-family: Lekton, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#intro .field--name-field-publication-date .field__item,
#intro .field--name-field-issue-number .field__item {
  color: var(--text_03);
  display: inline-block;
  font-family: Lekton, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#intro .field--name-field-publication-date,
#intro .field--name-field-issue-number {
  display: inline-block;
}

#intro .paragraph--type--publication-date {
  display: inline-block;
}

#intro .paragraph--type--publication-date div {
  color: var(--main-bg-color);
  display: inline-block;
  font-family: Lekton, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

#intro .paragraph--type--publication-date:before {
  color: var(--main-bg-color);
  content: " , ";
  display: inline-block;
  font-family: Lekton, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

#intro .sub-text-title {
  display: inline;
  font-size: 20px;
}

#intro .w-section a {
  color: var(--main-bg-color);
  font-size: 1.2rem;
  font-size: inherit;
}

#intro .w-section a:hover {
  color: inherit;
}

#intro a {
  color: var(--main-bg-color);
  font-size: 1.2rem;
}

#intro h2 {
  font-size: 1.5rem;
}

#intro h3 {
  font-size: 30px;
}

#intro h3 a {
  color: inherit;
  font-size: inherit;
}

#intro h3 a:hover {
  color: inherit;
}

#intro img {
  left: 0px;
  position: absolute;
  top: 0px;
  z-index: -1;
}

#pdf {
  padding: 2rem;
  text-align: center;
}

#pdf .file--application-pdf {
  background-size: 1.2rem;
}

#pdf .file--application-pdf a {
  font-size: 1.3rem;
}

#presentation > div {
  padding: 1rem;
}

#search-block-form {
  display: block;
}

#sommaire {
  min-height: calc(100vh - 120px - 4rem);
}

#user-page,
.user-form {
  min-height: calc(100vh - 120px - 30px - 4rem);
}

#views-exposed-form-general-search-default,
#views-exposed-form-general-search-page-1 {
  opacity: 0;
  width: 150px;
  overflow: hidden;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

#views-exposed-form-general-search-default .form-item,
#views-exposed-form-general-search-page-1 .form-item {
  margin: 0;
}

#views-exposed-form-general-search-default .button,
#views-exposed-form-general-search-page-1 .button {
  padding: 0;
}

#views-exposed-form-general-search-default .form--inline.clearfix,
#views-exposed-form-general-search-page-1 .form--inline.clearfix {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#views-form-commerce-cart-form-default-12 {
  font-family: Lekton, sans-serif;
}

#views-form-commerce-cart-form-default-12 .order-total-line .order-total-line-label {
  padding-right: 1rem;
}

#views-form-commerce-cart-form-default-12 table td,
#views-form-commerce-cart-form-default-12 table th {
  padding: 0 20px 0 0;
}

#vivarium {
  border: 1px solid var(--bg_02);
}

.add-border.bottom {
  border-bottom: 1px solid var(--main-bg-color);
}

.add-border.left {
  border-left: 1px solid var(--main-bg-color);
}

.add-border.right {
  border-right: 1px solid var(--main-bg-color);
}

.add-border.top {
  border-top: 1px solid var(--main-bg-color) fff;
}

.banner-one {
  height: calc(100vh - 60px - 60px);
}

.bottom-space ul {
  font-size: 14px;
}

.bottom-space ul a {
  font-size: 14px;
}

.bibcite-reference {
  display: block;
  width: 95%;
}

.bibcite-reference .bibcite-citation {
  display: inline-block;
  padding: 0.5rem 0;
  text-align: left;
  font-size: 1rem;
}

.bibcite-reference .bibcite-citation .citeproc-title {
  font-style: italic;
}

.bigger-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.big-h-img img {
  height: 100%;
  width: 100%;
}

.block-title {
  text-align: center;
}

.blog-content {
  background-color: var(--bar-bg-color);
  overflow-y: auto;
}

.blog-content .sub-information {
  text-align: left;
}

.blog-grid-con {
  height: 300px;
  overflow: hidden;
}

.blog-grid-con .small-spc.no-bottom-space {
  bottom: 0;
  position: absolute;
}

.blog-grid-hiden a {
  width: 100%;
}

.blog-hover-zoom-photo {
  padding: 1rem;
}

.blog-item.fashion .blog-grid-con {
  background: var(--other-bg-color);
}

.blog-last-photo {
  overflow: hidden;
}

.blog-post-banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-post-banner .sub-text-title .field--name-field-num-pub::before {
  content: "#";
}

.blog-post-banner h2,
.blog-post-banner h3 {
  text-align: center;
  color: white;
}

#intro .sub-text-title .field--name-field-num-pub::before {
  content: "#";
}

.blog-post-banner .sub-text-title > div .field__item,
#intro .sub-text-title > div .field__item {
  display: inline;
}

.blog-post-banner .sub-text-title > div .field__item::before,
#intro .sub-text-title > div .field__item::before {
  color: var(--main-bg-color);
  content: " ";
}

.blog-post-banner .sub-text-title > div .field__items,
#intro .sub-text-title > div .field__items {
  display: inline;
}

.blog-post-banner .sub-text-title > div a,
#intro .sub-text-title > div a {
  color: var(--main-bg-color);
  font-size: 1.2rem;
}

.blog-post-banner .sub-text-title > div,
#intro .sub-text-title > div {
  color: inherit;
  display: inline;
}

.blog-post-banner .sub-text-title a,
#intro .sub-text-title a {
  color: var(--main-bg-color);
  font-size: 1.3rem;
}

.blog-post-banner .sub-text-title,
#intro .sub-text-title {
  color: var(--main-bg-color);
  display: block;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.blog-title a {
  font-size: 1.3rem;
}

.blog-zig-zag .sub-information,
.blog-zig-zag .season-issue {
  color: var(--main-txt-color);
  font-size: 1rem;
}

.blog-zig-zag img {
  width: 100%;
}

.bottom-border *,
.top-border * {
  color: var(--main-txt-color);
}

.bottom-border,
.top-border {
  background-color: var(--bar-bg-color);
  color: var(--main-txt-color);
  display: block;
  margin: auto;
}

.button,
.read-more {
  background-color: var(--btn-bg-color);
}

.button--primary.form-submit {
  display: block;
  float: none;
  margin: 1rem auto;
}

.cart-block--summary__icon {
  display: none;
}

.cart-form td,
.cart-form th {
  padding: 1rem;
}

.centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-titles {
  text-align: center;
}

.col-1,
.col-2,
.col-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
}

.container,
.row,
.col-sm-12 {
  margin: auto;
  padding: 0;
}

.data-blog {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--banner-color);
  color: var(--banner-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

.data-blog .w-embed {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.data-blog.cont-ico.smll-ico {
  padding: 0;
}

.doc {
  padding: 1rem 0;
}

.extension-preview .portfolio-title {
  color: var(--main-txt-color);
}

.extension-preview .preview-image {
  display: block;
  height: 200px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.extension-preview .preview-image img {
  width: 100%;
}

p.exergue,
.exergue {
  font-size: 0.8rem;
  font-weight: normal;
  text-align: right;
  font-style: italic;
}

.facet-item {
  font-family: Lekton, sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}

.field--name-field-author p {
  text-align: justify;
}

.field--name-field-dossier-vivarium .field__item a {
  color: var(--main-bg-color);
  font-size: 20px;
  text-align: left;
}

.field--name-field-dossier-vivarium .field__label {
  color: var(--main-bg-color);
  font-family: Lekton, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  width: 50%;
}

.field--name-field-dossier-vivarium .field__label:after {
  content: "";
}

.field--type-text-with-summary {
  padding: 1rem;
}

.flex-center-child > div,
.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  background-color: var(--footer-bg-color);
  margin-top: 80px;
}

.footer #block-footerinfos .blog-minimal {
  padding: 0;
}

.footer #block-footerinfos p {
  text-align: center;
}

.footer #block-pieddepage #menu_principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer #block-pieddepage #menu_principal .icon {
  display: none;
}

.footer #block-pieddepage ul {
  padding: 0;
}

.footer #block-pieddepage ul li {
  display: block;
}

.footer #block-views-block-partenaires-block-1 *,
.footer #block-pieddepage *,
.footer #block-footerinfos * {
  margin: auto;
  text-align: center;
}

.footer #block-views-block-partenaires-block-1 .views-row {
  float: left;
  height: 60px;
  margin: 0;
  padding: 0.5rem;
  width: 50%;
}

.footer #block-views-block-partenaires-block-1 .views-row a {
  height: 100%;
  width: 100%;
}

.footer #block-views-block-partenaires-block-1 .views-row div {
  height: 100%;
  padding: 0;
  width: 100%;
}

.footer #block-views-block-partenaires-block-1 h2 {
  font-size: 30px;
}

.footer #block-pieddepage h2,
.footer #block-footerinfos h2 {
  font-size: 30px;
}

.footer #block-views-block-partenaires-block-1 {
  float: left;
  margin: 0;
  padding: 0 1rem;
  width: 33%;
}

.footer #block-views-block-partenaires-block-1 img {
  -o-object-fit: contain;
     object-fit: contain;
}

.footer #block-pieddepage,
.footer #block-footerinfos {
  float: left;
  margin: 0;
  padding: 0 1rem;
  width: 33%;
}

#grid .item {
  height: 160px;
}

.header-presentation h3 {
  text-align: center;
}

.header-presentation p {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  margin: auto;
  max-width: 800px;
  padding: 2em;
  text-align: justify;
}

.informations {
  min-height: calc(100vh - 120px - 64px - 4rem);
  padding: 1rem;
}

.infos-auteur {
  padding: 1rem 0;
}

.infos-auteur a {
  display: block;
  font-size: 0.9rem;
  font-weight: 900;
}

.inner-title {
  font-size: 4rem;
  line-height: 5.5rem;
}

.item.blog-item {
  width: 100%;
}

.item-list {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.item-list ul,
.item-list li {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.video-wrapper,
.w-embed {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.js .paragraphs-collapsed-description {
  height: auto;
  line-height: 20px;
  overflow: auto;
  position: static;
}

.lecture-content {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  margin: 0.3rem;
  padding: 0.2rem;
  width: 100%;
}

.lecture-content > * {
  display: inline-block;
  margin: auto;
  width: 50%;
}

.lecture-content span {
  color: var(--text_03);
  display: inline-block;
  font-family: Lekton, sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 0 0.5rem;
  width: 100%;
}

.lectures .lecture-content {
  float: left;
  width: 25%;
}

.lectures::after {
  clear: both;
  content: "";
  display: table;
}

.line {
  display: block;
  width: 100%;
}

.logo {
  float: left;
  margin: 0;
  padding: 1rem;
  width: 50%;
}

.media {
  display: block;
  text-align: center;
}

.media p {
  font-size: 0.8rem;
  opacity: 0.8;
  text-align: justify;
}

.menu-link {
  color: var(--main-txt-color);
  display: inline-block;
  font-size: 17px;
  padding: 14px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.menu-link.w--current:not([href=""]) ::after {
  background: var(--banner-color);
  width: 100%;
}

.menu-link:not([href=""])::after {
  background: var(--bg_02);
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin-top: 5px;
  position: absolute;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  width: 0;
}

.menu-link:hover::after {
  background: var(--bg_02);
  left: 0;
  width: 100%;
}

.nav-link {
  color: #495057;
}

.nav-link:hover {
  color: var(--banner-color);
}

.page_search {
  width: 100%;
}

.page_search .views-col {
  max-width: 100%;
  padding-bottom: 2rem;
}

.page_search .views-col .views-field a {
  color: inherit;
  font-size: inherit;
}

.page_search .views-col .views-field-title-1,
.page_search .views-col .views-field-title-2,
.page_search .views-col .views-field-title-3,
.page_search .views-col .views-field-title-4,
.page_search .views-col .views-field-field-season {
  font-size: 20px;
  font-weight: 700;
}

.page_search .views-col .views-field-title-5 {
  color: var(--main-txt-color);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "pb-bold";
  font-size: 0.75rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.page_search .views-col .views-field-field-individu,
.page_search .views-col .views-field-created,
.page_search .views-col .list-film-cat,
.page_search .views-col .page-node-type-ouvrage-critique .field--name-field-auteur {
  color: rgba(0, 0, 0, 0.5);
  font-family: "pb-bold";
  font-size: 0.75rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.page_search .views-col .views-field-type-1 {
  font-size: 12px;
}

.pour_citer {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  padding: 10px 80px 10px 100px;
  border: 1px solid black;
  margin: 30px 0;
  background-color: #efefef;
}

p.italic,
.italic {
  font-style: italic;
}

p.bold,
.bold {
  font-weight: bolder;
}

p.oblic,
.oblic {
  font-style: oblique;
}

.page-title {
  padding: 2rem;
  text-align: center;
}

.page-title h1,
.page-title h2 {
  font-size: 36px;
}

.paragraph-formatter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.paragraph-formatter .paragraph-info {
  display: none;
}

.paragraph-formatter .paragraphs-collapsed-description::after {
  content: none;
}

.paragraphs-collapsed-description {
  color: var(--main-txt-color);
}

.portfolio-cn-title {
  color: var(--main-bg-color);
}

.portfolio-sub-title {
  color: var(--main-txt-color);
}

.preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  overflow: hidden;
  width: 100px;
}

.preview * {
  margin: 0;
  padding: 0 !important;
}

.preview .field.field--name-field-image.field--type-image.field--label-hidden.field__item a {
  padding: 0;
}

.preview .field__item {
  height: 100px;
  width: 100px;
}

.preview.article-preview {
  height: 180px;
  width: 100%;
}

.preview.article-preview img {
  display: block;
  margin: auto;
}

.product-post-banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-image: url(../images/post-2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
  position: relative;
}

.row {
  width: 100%;
}

.search_icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: var(--main-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 30px;
  background-color: transparent;
}

.search_input {
  background: none;
  border: 0;
  caret-color: transparent;
  caret-color: var(--banner-color);
  color: var(--body-bg-color);
  line-height: 16px;
  outline: 0;
  padding: 0 10px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
  width: 0;
  width: 150px;
}

.searchbar {
  opacity: 0;
  background-color: var(--search-bar-bg-color);
  border-radius: 30px;
  display: inline-block;
  font-size: 13px;
  height: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  max-height: 30px;
}

.searchbar:hover > .search_icon {
  background: var(--main-bg-color);
  color: var(--banner-color);
}

.searchbar:hover > .search_input {
  caret-color: var(--banner-color);
  padding: 0 10px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
  width: 150px;
}

.service-icon {
  color: var(--banner-color);
}

.season-issue .paragraphs-collapsed-description,
.sub-information .paragraphs-collapsed-description {
  color: var(--main-bg-color);
}

.season-issue,
.sub-information {
  color: var(--main-bg-color);
  font-family: Lekton, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 25px;
  margin: auto;
  text-align: center;
}

.section-imp {
  background-color: transparent;
  padding: 40px 20px;
}

.see-footnote {
  font-size: 0.8rem !important;
  padding: 3px;
}

.show-filter {
  background-color: var(--banner-color);
}

.sidebar-class {
  margin-top: 20px;
  padding-top: 20px;
}

.sidebar-right .title-wrapper h2 {
  font-size: 25px;
}

.sub-information {
  display: block;
}

.sub-item {
  background-color: var(--sub-bg-color);
  border-radius: 5px;
}

.subscription-post-banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/post-2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 550px;
  position: relative;
}

.tags a:hover {
  color: var(--main-bg-color);
  opacity: 1;
}

.tags::after {
  clear: both;
  content: "";
  display: table;
  clear: both;
  content: "";
  display: table;
}

.tags:hover a {
  color: var(--main-bg-color);
}

.title-top-border {
  text-align: left;
}

.title-wrapper {
  margin-bottom: 30px;
  margin-top: 30px;
}

.toolbar-fixed .top-border {
  top: 40px;
}

.field--name-bibcite-custom1,
.field--name-bibcite-custom2,
.field--name-bibcite-custom3,
.field--name-bibcite-custom4,
.field--name-bibcite-custom5,
.field--name-bibcite-custom6,
.field--name-bibcite-custom7,
.field--name-bibcite-custom8 {
  display: inline-block;
  font-size: 1rem;
}

.top-border {
  height: 60px;
  padding: 5px 15px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
}

.top-border > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-border > div #block-navigationprincipale {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  width: 85%;
}

.top-border > div #block-navigationprincipale .topnav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1rem;
}

.top-border > div #block-navigationprincipale .topnav * {
  color: var(--search-bar-bg-color);
}

.top-border > div #block-navigationprincipale .topnav .views-view-grid,
.top-border > div #block-navigationprincipale .topnav .pager {
  display: none;
}

.top-border > div #block-navigationprincipale .topnav .search_input {
  color: var(--body-bg-color);
}

.top-border > div #block-navigationprincipale .topnav .dropdown .dropbtn {
  background-color: transparent;
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

.top-border > div #block-navigationprincipale .topnav .dropdown .dropdown-content {
  background-color: var(--bar-bg-color);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-border > div #block-navigationprincipale .topnav .dropdown .dropdown-content a {
  color: var(--main-txt-color);
  float: none;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  margin: 0 1rem;
}

.top-border > div #block-navigationprincipale .topnav .dropdown:hover .dropdown-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.top-border > div #block-navigationprincipale .topnav .icon {
  display: none;
}

.top-border > div #block-sitebranding-2 {
  display: inline-block;
  height: auto;
  max-height: 100%;
  max-width: 15%;
  overflow: hidden;
  vertical-align: middle;
  width: auto;
}

.top-border > div #block-sitebranding-2 a {
  display: block;
  height: 50px;
}

.views-view-grid.cols-3 {
  text-align: center;
}

.views-view-grid.cols-3 .col-1,
.views-view-grid.cols-3 .col-2,
.views-view-grid.cols-3 .col-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
}

.views-view-grid.cols-3 .views-row.clearfix {
  padding: 1rem;
}

.window-size {
  min-height: calc(100vh - 60px - 60px);
}

.w-section a,
details {
  color: var(--main-txt-color);
}

.w-section a:hover {
  color: var(--banner-color);
}

@media (max-width: 1100px) {
  .container {
    max-width: 95%;
  }
  .top-border {
    margin-bottom: 2rem;
    padding: 0;
  }
  .top-border > div #block-navigationprincipale {
    display: block;
    width: 100%;
  }
}

@media (max-width: 479px) {
  .inner-title {
    font-size: 43px;
    line-height: 65px;
  }
}

@media only screen and (max-width: 700px) {
  .blog-zig-zag {
    height: 300px;
  }
  .bottom-border {
    display: none;
  }
  .container {
    max-width: 100%;
    width: 100%;
  }
  .footer #block-pieddepage,
  .footer #block-footerinfos,
  .footer #block-views-block-partenaires-block-1 {
    border-bottom: 1px solid var(--main-txt-color);
    float: none;
    padding: 1rem 0;
    width: 100%;
  }
  .views-col {
    width: 100% !important;
  }
  ul.quicktabs-tabs {
    text-align: left;
  }
  ul.quicktabs-tabs li {
    display: block;
    margin: 0.3rem;
  }
  ul.quicktabs-tabs li a {
    padding: 0;
  }
  ul.quicktabs-tabs li.active a {
    border: none !important;
    border-bottom: 1px solid var(--main-txt-color) !important;
    border-radius: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    max-width: 1100px;
  }
  .item.blog-item {
    width: 33%;
  }
}

@media only screen and (min-width: 700px) {
  .item.blog-item {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  #intro .align-center {
    margin: 0;
    padding: 1rem 0;
  }
  .inner-title {
    line-height: 65px;
  }
  .top-border > div {
    position: relative;
  }
  .top-border > div #block-navigationprincipale {
    position: absolute;
    top: 50px;
    width: 100%;
  }
  .top-border > div #block-navigationprincipale .topnav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: var(--bar-bg-color);
    color: var(--main-txt-color);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-border > div #block-navigationprincipale .topnav .dropdown .dropdown-content {
    background-color: var(--bar-bg-color);
    -webkit-box-shadow: none;
            box-shadow: none;
    display: none;
    min-width: 160px;
    position: absolute;
    z-index: 1;
  }
  .top-border > div #block-navigationprincipale .topnav .dropdown .dropdown-content a {
    color: var(--main-txt-color);
    float: none;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
  }
  .top-border > div #block-navigationprincipale .topnav .dropdown:hover .dropdown-content {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-border > div #block-navigationprincipale .topnav .icon {
    display: block;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: -25px;
  }
  .top-border > div #block-navigationprincipale .topnav a,
  .top-border > div #block-navigationprincipale .topnav .dropbtn {
    display: none;
  }
  .top-border > div #block-navigationprincipale .topnav.responsive {
    padding: 1rem;
  }
  .top-border > div #block-navigationprincipale .topnav.responsive .dropdown {
    float: none;
    margin: 1rem auto;
    width: 100%;
  }
  .top-border > div #block-navigationprincipale .topnav.responsive .dropdown .dropbtn {
    background-color: transparent;
    height: 0;
    margin: 0;
    padding: 0;
    width: 0;
  }
  .top-border > div #block-navigationprincipale .topnav.responsive .dropdown .dropdown-content {
    position: relative;
  }
  .top-border > div #block-navigationprincipale .topnav.responsive a,
  .top-border > div #block-navigationprincipale .topnav.responsive .dropbtn {
    display: inline-block;
    float: none;
    text-align: left;
  }
  .top-border > div #block-sitebranding-2 {
    max-width: 100%;
    padding: 5px 15px;
    text-align: center;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */