:root {
  --banner_01: #ee2367;
  --banner-color: #a60540;
  --bar-bg-color: #ffffff;
  --btn-bg-color: #dbdae5;
  --bg_01: #ffffff;
  --bg_02: #000000;
  --bg_03: #353a48;
  --bg_04: #f8f8f8;
  --bg_05: #f3f3f3;
  --footer-bg-color: #e0e0e0;
  --gray_color_01: #a6a6a6;
  --gray_color_02: #f2f2f2;
  --gray_color_03: #404040;
  --gray_color_04: #262626;
  --gray_color_05: #737373;
  --main-bg-color: #f7f7f7;
  --main-txt-color: #262626;
  --other-bg-color: #404040;
  --shades-of-gray-1-hex: #b7b6bf;
  --shades-of-gray-2-hex: #79797f;
  --shades-of-gray-3-hex: #f4f3ff;
  --shades-of-gray-4-hex: #3d3d40;
  --shades-of-gray-5-hex: #dbdae5;
  --text_02: #ffffff;
  --text_03: #a8a8a8;
  --text_04: #f9f9f9;
}
a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    opacity: 0.7;
    text-decoration: none;
  }
}

body {
  color: var(--main-txt-color);
  margin: 0;
  padding: 0;
}

h1 {
  clear: both;
  display: block;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  color: var(--main-txt-color);
}

h2 {
  clear: both;
  display: block;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  font-size: 48px;
  text-align: center;
}

h3 {
  padding: 1rem 0;
}

img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

input {
  max-width: 100%;
  font-family: initial;
}

textarea {
  font-family: initial;
}

main.container {
  margin: 2rem auto;
  padding: 0 1rem;
}

nav {
  ul {
    li {
      > ul:hover,
      &:hover > ul {
        display: inherit;
      }
    }

    ul {
      background-color: var(--bg_01);
      display: none;
      left: 0;
      position: absolute;
      top: 100%;
      z-index: 1;

      li {
        display: list-item;
        min-width: 170px;
        position: relative;
      }
    }
  }

  &#block-social {
    display: inline-block;
    line-height: 36px;
  }
}

p,
.meta-tag {
  color: var(--main-txt-color);
}

ul {
  &.quicktabs-tabs {
    margin: 2rem auto !important;
    padding: 0 0 40px;
    text-align: center;

    li {
      font-size: 1.1rem;
      a {
        border-radius: 20px;
        padding: 6px 20px 5px;
      }

      &.active a {
        border: 1px solid var(--main-txt-color) !important;
        border-radius: 20px;
        padding: 6px 20px 5px;
      }
    }
  }
  &.tabs.primary {
    font-family: verdana;
    font-size: 12px;
    height: 26px;
    line-height: 24px;
    list-style: none;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;

    a {
      color: var(--bg_03);
      text-decoration: none;
    }

    li {
      background: #d1d1d1;
      // background: linear-gradient(top, #ececec 50%, #d1d1d1 100%);
      border: 1px solid #aaa;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 var(--bg_01);
      display: inline-block;
      margin: 0 -5px;
      padding: 0 20px;
      position: relative;
      text-shadow: 0 1px var(--bg_01);
      z-index: 0;

      &.is-active {
        background: var(--bg_01);
        border-bottom-color: var(--bg_01);
        color: #333;
        z-index: 2;

        a {
          background-color: var(--bg_01);
        }

        &:after {
          box-shadow: -2px 2px 0 var(--bg_01);
        }

        &:before {
          box-shadow: 2px 2px 0 var(--bg_01);
        }
      }

      &:after {
        border-bottom-left-radius: 6px;
        border-width: 0 0 1px 1px;
        box-shadow: -2px 2px 0 #d1d1d1;
        right: -6px;
      }

      &:before {
        border-bottom-right-radius: 6px;
        border-width: 0 1px 1px 0;
        box-shadow: 2px 2px 0 #d1d1d1;
        left: -6px;
        border: 1px solid #aaa;
        bottom: -1px;
        content: " ";
        height: 5px;
        position: absolute;
        width: 5px;
      }

      &:after {
        border: 1px solid #aaa;
        bottom: -1px;
        content: " ";
        height: 5px;
        position: absolute;
        width: 5px;
      }
    }

    &:before {
      border-bottom: 1px solid #aaa;
      bottom: 0;
      content: " ";
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
}

#block-abonnezvous {
  background: #eaeaea;
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
  text-align: center;

  .paywall_bouton {
    background: var(--banner_01);
    border-radius: 3px;
    color: var(--bg_01);
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    padding: 12px 13px;
    text-align: center;
  }

  p,
  h2 {
    margin-bottom: 1rem;
  }
}

#block-cartbutton {
  display: inline-block;
  font-size: 14px;
  height: 36px;
  letter-spacing: 1px;
  line-height: 36px;
  position: relative;
}

#block-copyright {
  color: var(--main-txt-color);

  .field--type-text-with-summary {
    padding: 0;
  }
}

#citation .field--name-field-pour-citer {
  color: var(--main-txt-color);
  font-family: Lekton, sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 1rem;
}

#dossiers .views-row,
#filter .views-row {
  padding: 1rem;
}

#editorial,
#dossiers,
#individuel {
  margin: 2em auto;
}

#editorial {
  .editorial-name {
    font-size: 1.1rem;
    font-weight: bolder;
  }
  h3 {
    padding: 0;
  }
}

#intro {
  position: relative;
  width: 100%;
  .issue-banner {
    position: relative;
    margin: 1rem 2rem;
    padding: 1rem 0;
    &::before {
      content: "";
      background-color: var(--banner-color);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      z-index: -1;
    }
    &.single-issue::before {
      background-color: var(--other-bg-color);
    }
  }

  .embed-video,
  .video-wrapper {
    position: static;
  }

  .field--name-field-issue-number::before {
    color: var(--text_03);
    content: "#";
    display: inline-block;
    font-family: Lekton, sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  .field--name-field-publication-date .field__item,
  .field--name-field-issue-number .field__item {
    color: var(--text_03);
    display: inline-block;
    font-family: Lekton, sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  .field--name-field-publication-date,
  .field--name-field-issue-number {
    display: inline-block;
  }

  .paragraph--type--publication-date {
    display: inline-block;

    div {
      color: var(--bg_01);
      display: inline-block;
      font-family: Lekton, sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
    }

    &:before {
      color: var(--bg_01);
      content: " , ";
      display: inline-block;
      font-family: Lekton, sans-serif;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  .sub-text-title {
    display: inline;
    font-size: 20px;
  }

  .w-section a {
    color: var(--bg_01);
    font-size: 1.2rem;
    font-size: inherit;

    &:hover {
      color: inherit;
    }
  }

  a {
    color: var(--bg_01);
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 30px;

    a {
      color: inherit;
      font-size: inherit;

      &:hover {
        color: inherit;
      }
    }
  }

  img {
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: -1;
  }
}

#pdf {
  padding: 2rem;
  text-align: center;

  .file--application-pdf {
    background-size: 1.2rem;

    a {
      font-size: 1.3rem;
    }
  }
}

#presentation > div {
  padding: 1rem;
}

#search-block-form {
  display: none;
}

#sommaire {
  min-height: calc(100vh - 120px - 4rem);
}

#user-page,
.user-form {
  min-height: calc(100vh - 120px - 30px - 4rem);
}

#views-exposed-form-general-search-page-1 {
  opacity: 0;
  transition: opacity 500ms linear;

  .form--inline.clearfix {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

#views-form-commerce-cart-form-default-12 {
  font-family: Lekton, sans-serif;
  .order-total-line .order-total-line-label {
    padding-right: 1rem;
  }

  table {
    td,
    th {
      padding: 0 20px 0 0;
    }
  }
}

#vivarium {
  border: 1px solid var(--bg_02);
}

.add-border {
  &.bottom {
    border-bottom: 1px solid var(--bg_01);
  }

  &.left {
    border-left: 1px solid var(--bg_01);
  }

  &.right {
    border-right: 1px solid var(--bg_01);
  }

  &.top {
    border-top: 1px solid var(--bg_01) fff;
  }
}

.banner-one {
  height: calc(100vh - 60px - 60px);
}
.bibcite-reference {
  display: inline-block;
  width: 95%;
  * {
    display: inline-block;
  }
}
.bigger-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.big-h-img img {
  height: 100%;
  width: 100%;
}

.block-title {
  text-align: center;
}

.blog-content {
  background-color: var(--bar-bg-color);

  .sub-information {
    text-align: left;
  }
}

.blog-grid-con {
  height: 300px;
  overflow: hidden;

  .small-spc.no-bottom-space {
    bottom: 0;
    position: absolute;
  }
}

.blog-grid-hiden a {
  width: 100%;
}

.blog-hover-zoom-photo {
  padding: 1rem;
}

.blog-item.fashion .blog-grid-con {
  background: var(--other-bg-color);
}

.blog-last-photo {
  overflow: hidden;
}

.blog-post-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .sub-text-title .field--name-field-num-pub::before {
    content: "#";
  }
}

#intro .sub-text-title .field--name-field-num-pub::before {
  content: "#";
}

.blog-post-banner .sub-text-title > div .field__item,
#intro .sub-text-title > div .field__item {
  display: inline;
}

.blog-post-banner .sub-text-title > div .field__item::before,
#intro .sub-text-title > div .field__item::before {
  color: var(--bg_01);
  content: " ";
}

.blog-post-banner .sub-text-title > div .field__items,
#intro .sub-text-title > div .field__items {
  display: inline;
}

.blog-post-banner .sub-text-title > div a,
#intro .sub-text-title > div a {
  color: var(--bg_01);
  font-size: 1.2rem;
}

.blog-post-banner .sub-text-title > div,
#intro .sub-text-title > div {
  color: inherit;
  display: inline;
}

.blog-post-banner .sub-text-title a,
#intro .sub-text-title a {
  color: var(--bg_01);
  font-size: 1.3rem;
}

.blog-post-banner .sub-text-title,
#intro .sub-text-title {
  color: var(--bg_01);
  display: block;
  font-size: 1.2rem;
  margin: 0;
  text-align: center;
}

.blog-title a {
  font-size: 1.3rem;
}

.blog-zig-zag {
  .sub-information,
  .season-issue {
    color: var(--main-txt-color);
    font-size: 1rem;
  }

  img {
    width: 100%;
  }
}

.bottom-border *,
.top-border * {
  color: var(--main-txt-color);
}

.bottom-border,
.top-border {
  background-color: var(--bar-bg-color);
  color: var(--main-txt-color);
  display: block;
  margin: auto;
}

.button,
.read-more {
  background-color: var(--btn-bg-color);
}

.button--primary.form-submit {
  display: block;
  float: none;
  margin: 1rem auto;
}

.cart-block--summary__icon {
  display: none;
}

.cart-form {
  td,
  th {
    padding: 1rem;
  }
}

.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-titles {
  text-align: center;
}

.col-1,
.col-2,
.col-3 {
  flex: 1;
  max-width: 100%;
}

.container,
.row,
.col-sm-12 {
  margin: auto;
  padding: 0;
}

.data-blog {
  align-items: center;
  border: 1px solid var(--banner-color);
  color: var(--banner-color);
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;

  .w-embed {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.cont-ico.smll-ico {
    padding: 0;
  }
}

.doc {
  padding: 1rem 0;
}

.extension-preview {
  .portfolio-title {
    color: var(--main-txt-color);
  }

  .preview-image {
    display: block;
    height: 200px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.facet-item {
  font-family: Lekton, sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}

.field--name-field-author p {
  text-align: justify;
}

.field--name-field-dossier-vivarium {
  .field__item a {
    color: var(--bg_01);
    font-size: 20px;
    text-align: left;
  }

  .field__label {
    color: var(--bg_01);
    font-family: Lekton, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    width: 50%;

    &:after {
      content: "";
    }
  }
}

.field--type-text-with-summary {
  padding: 1rem;
}

.flex-center-child > div,
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer {
  background-color: var(--footer-bg-color);
  margin-top: 80px;

  #block-footerinfos {
    .blog-minimal {
      padding: 0;
    }

    p {
      text-align: center;
    }
  }

  #block-pieddepage {
    #menu_principal {
      display: flex;
      flex-direction: column;

      .icon {
        display: none;
      }
    }

    ul {
      padding: 0;

      li {
        display: block;
      }
    }
  }

  #block-views-block-partenaires-block-1 *,
  #block-pieddepage *,
  #block-footerinfos * {
    margin: auto;
    text-align: center;
  }

  #block-views-block-partenaires-block-1 {
    .views-row {
      float: left;
      height: 60px;
      margin: 0;
      padding: 0.5rem;
      width: 50%;

      a {
        height: 100%;
        width: 100%;
      }

      div {
        height: 100%;
        padding: 0;
        width: 100%;
      }
    }

    h2 {
      font-size: 30px;
    }
  }

  #block-pieddepage h2,
  #block-footerinfos h2 {
    font-size: 30px;
  }

  #block-views-block-partenaires-block-1 {
    img {
      object-fit: contain;
      o-object-fit: contain;
    }

    float: left;
    margin: 0;
    padding: 0 1rem;
    width: 33%;
  }

  #block-pieddepage,
  #block-footerinfos {
    float: left;
    margin: 0;
    padding: 0 1rem;
    width: 33%;
  }
}

.header-presentation {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  margin: auto;
  max-width: 800px;
  padding: 2em;
  text-align: justify;
}

.informations {
  min-height: calc(100vh - 120px - 64px - 4rem);
  padding: 1rem;
}

.infos-auteur {
  padding: 1rem 0;

  a {
    display: block;
    font-size: 0.9rem;
    font-weight: 900;
  }
}

.inner-title {
  font-size: 4rem;
  line-height: 5.5rem;
}

.issue-article {
  text-align: justify;
}
.item.blog-item {
  width: 100%;
}

.item-list {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  ul,
  li {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.video-wrapper,
.w-embed {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.js .paragraphs-collapsed-description {
  height: auto;
  line-height: 20px;
  overflow: auto;
  position: static;
}

.lecture-content {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  margin: 0.3rem;
  padding: 0.2rem;
  width: 100%;

  > * {
    display: inline-block;
    margin: auto;
    width: 50%;
  }

  span {
    color: var(--text_03);
    display: inline-block;
    font-family: Lekton, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0 0.5rem;
    width: 100%;
  }
}

.lectures {
  .lecture-content {
    float: left;
    width: 25%;
  }

  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.line {
  display: block;
  width: 100%;
}

.logo {
  float: left;
  margin: 0;
  padding: 1rem;
  width: 50%;
}

.media {
  display: block;
  text-align: center;

  p {
    font-size: 0.8rem;
    opacity: 0.8;
    text-align: justify;
  }
}

.menu-link {
  color: var(--main-txt-color);
  display: inline-block;
  font-size: 17px;
  padding: 14px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;

  &.w--current::after {
    background: var(--banner_01);
    width: 100%;
  }

  &::after {
    background: var(--bg_02);
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin-top: 5px;
    position: absolute;
    transition: width 0.4s ease;
    width: 0;
  }

  &:hover::after {
    background: var(--bg_02);
    left: 0;
    width: 100%;
  }
}

.nav-link {
  color: #495057;

  &:hover {
    color: var(--banner_01);
  }
}

.page_search {
  width: 100%;

  .views-col {
    max-width: 100%;
    padding-bottom: 2rem;

    .views-field a {
      color: inherit;
      font-size: inherit;
    }

    .views-field-title-1,
    .views-field-title-2,
    .views-field-title-3,
    .views-field-title-4,
    .views-field-field-season {
      font-size: 20px;
      font-weight: 700;
    }

    .views-field-title-5 {
      color: var(--main-txt-color);
      font-size: 13px;
      color: rgba(0, 0, 0, 0.5);
      font-family: "pb-bold";
      font-size: 0.75rem;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    .views-field-field-individu,
    .views-field-created,
    .list-film-cat,
    .page-node-type-ouvrage-critique .field--name-field-auteur {
      color: rgba(0, 0, 0, 0.5);
      font-family: "pb-bold";
      font-size: 0.75rem;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    .views-field-type-1 {
      font-size: 12px;
    }
  }
}

.page-title {
  padding: 2rem;
  text-align: center;

  h1,
  h2 {
    font-size: 36px;
  }
}

.paragraph-formatter {
  display: inline-flex;

  .paragraph-info {
    display: none;
  }

  .paragraphs-collapsed-description::after {
    content: none;
  }
}

.paragraphs-collapsed-description {
  color: var(--main-txt-color);
}

.portfolio-cn-title {
  color: var(--bg_01);
}

.portfolio-sub-title {
  color: var(--main-txt-color);
}

.preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  overflow: hidden;
  width: 100px;

  * {
    margin: 0;
    padding: 0 !important;
  }

  .field.field--name-field-image.field--type-image.field--label-hidden.field__item a {
    padding: 0;
  }

  .field__item {
    height: 100px;
    width: 100px;
  }

  &.article-preview {
    height: 180px;
    width: 100%;

    img {
      display: block;
      margin: auto;
    }
  }
}

.product-post-banner {
  align-items: center;
  background-attachment: fixed;
  background-image: url(../images/post-2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 550px;
  position: relative;
}

.row {
  width: 100%;
}

.search_icon {
  align-items: center;
  border-radius: 50%;
  color: var(--bg_01);
  display: flex;
  float: right;
  height: 30px;
  justify-content: center;
  text-decoration: none;
  width: 30px;
  background-color: transparent;
}

.search_input {
  background: none;
  border: 0;
  caret-color: transparent;
  caret-color: var(--banner_01);
  color: var(--text_02);
  line-height: 16px;
  outline: 0;
  padding: 0 10px;
  transition: width 0.4s linear;
  width: 0;
  width: 150px;
}

.searchbar {
  background-color: var(--bg_03);
  border-radius: 30px;
  display: inline-block;
  font-size: 13px;
  height: 30px;
  letter-spacing: 1px;
  line-height: 30px;
  max-height: 30px;

  &:hover > {
    .search_icon {
      background: var(--bg_01);
      color: var(--banner_01);
    }

    .search_input {
      caret-color: var(--banner_01);
      padding: 0 10px;
      transition: width 0.4s linear;
      width: 150px;
    }
  }
}
.service-icon {
  color: var(--banner-color);
}
.season-issue .paragraphs-collapsed-description,
.sub-information .paragraphs-collapsed-description {
  color: var(--bg_01);
}

.season-issue,
.sub-information {
  color: var(--bg_01);
  font-family: Lekton, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 25px;
  margin: auto;
  text-align: center;
}

.section-imp {
  background-color: transparent;
  padding: 40px 20px;
}

.show-filter {
  background-color: var(--banner-color);
}

.sidebar-class {
  margin-top: 20px;
  padding-top: 20px;
}

.sidebar-right .title-wrapper h2 {
  font-size: 25px;
}

.sub-information {
  display: block;
}

.sub-item {
  background-color: var(--bg_05);
  border-radius: 5px;
}

.subscription-post-banner {
  align-items: center;
  background-image: url(../images/post-2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  height: 550px;
  position: relative;
}

.tags {
  a:hover {
    color: var(--bg_01);
    opacity: 1;
  }

  &::after {
    clear: both;
    content: "";
    display: table;
    clear: both;
    content: "";
    display: table;
  }

  &:hover a {
    color: var(--bg_01);
  }
}

.title-top-border {
  text-align: left;
}

.title-wrapper {
  margin-bottom: 30px;
  margin-top: 30px;
}

.toolbar-fixed .top-border {
  top: 40px;
}

.top-border {
  height: 60px;
  padding: 5px 15px;
  position: sticky;
  z-index: 1000;

  > div {
    display: flex;

    #block-navigationprincipale {
      display: inline-block;
      height: 50px;
      vertical-align: middle;
      width: 85%;

      .topnav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;

        * {
          color: var(--bg_03);
        }

        .dropdown {
          .dropbtn {
            background-color: transparent;
            height: 0;
            margin: 0;
            padding: 0;
            width: 0;
          }

          .dropdown-content {
            background-color: var(--text_04);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            display: none;
            min-width: 160px;
            position: absolute;
            z-index: 1;
            white-space: nowrap;
            flex-direction: column;
            a {
              color: var(--main-txt-color);
              float: none;
              padding: 12px 16px;
              text-align: left;
              text-decoration: none;
            }
          }

          &:hover .dropdown-content {
            display: flex !important;
          }
        }

        .icon {
          display: none;
        }
      }
    }

    #block-sitebranding-2 {
      display: inline-block;
      height: auto;
      max-height: 100%;
      max-width: 15%;
      overflow: hidden;
      vertical-align: middle;
      width: auto;

      a {
        display: block;
        height: 50px;
      }
    }
  }
}

.views-view-grid.cols-3 {
  text-align: center;
  .col-1,
  .col-2,
  .col-3 {
    flex: 1;
    max-width: 100%;
  }

  .views-row.clearfix {
    padding: 1rem;
  }
}

.window-size {
  min-height: calc(100vh - 60px - 60px);
}

.w-section a,
details {
  color: var(--main-txt-color);
}

.w-section a:hover {
  color: var(--banner_01);
}

@media (max-width: 1100px) {
  .container {
    max-width: 95%;
  }

  .top-border {
    margin-bottom: 2rem;
    padding: 0;

    > div #block-navigationprincipale {
      display: block;
      width: 100%;
    }
  }
}

@media (max-width: 479px) {
  .inner-title {
    font-size: 43px;
    line-height: 65px;
  }
}

@media only screen and (max-width: 700px) {
  .blog-zig-zag {
    height: 300px;
  }

  .bottom-border {
    display: none;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  .footer {
    #block-pieddepage,
    #block-footerinfos,
    #block-views-block-partenaires-block-1 {
      border-bottom: 1px solid var(--main-txt-color);
      float: none;
      padding: 1rem 0;
      width: 100%;
    }
  }

  .views-col {
    width: 100% !important;
  }

  ul.quicktabs-tabs {
    text-align: left;

    li {
      display: block;
      margin: 0.3rem;

      a {
        padding: 0;
      }

      &.active a {
        border: none !important;
        border-bottom: 1px solid var(--main-txt-color) !important;
        border-radius: 0;
        padding: 0;
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    max-width: 1100px;
  }

  .item.blog-item {
    width: 33%;
  }
}

@media only screen and (min-width: 700px) {
  .item.blog-item {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  #intro .align-center {
    margin: 0;
    padding: 1rem 0;
  }

  .inner-title {
    line-height: 65px;
  }

  .top-border > div {
    position: relative;

    #block-navigationprincipale {
      position: absolute;
      top: 50px;
      width: 100%;

      .topnav {
        align-items: flex-start;
        background-color: var(--bar-bg-color);
        color: var(--main-txt-color);
        flex-direction: column;
        ms-flex-align: start;
        ms-flex-direction: column;
        webkit-box-align: start;
        webkit-box-direction: normal;
        webkit-box-orient: vertical;

        .dropdown {
          .dropdown-content {
            background-color: var(--main-txt-color);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            display: none;
            min-width: 160px;
            position: absolute;
            webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            a {
              color: var(--main-txt-color);
              float: none;
              padding: 12px 16px;
              text-align: left;
              text-decoration: none;
            }
          }

          &:hover .dropdown-content {
            display: block;
            display: flex;
            display: -ms-flexbox;
            display: -webkit-box;
            flex-direction: column;
            ms-flex-direction: column;
            webkit-box-direction: normal;
            webkit-box-orient: vertical;
          }
        }

        .icon {
          display: block;
          font-size: 30px;
          position: absolute;
          right: 10px;
          top: -25px;
        }

        a,
        .dropbtn {
          display: none;
        }

        &.responsive {
          padding: 1rem;

          .dropdown {
            float: none;
            margin: 1rem auto;
            width: 100%;

            .dropbtn {
              background-color: transparent;
              height: 0;
              margin: 0;
              padding: 0;
              width: 0;
            }

            .dropdown-content {
              position: relative;
            }
          }

          a,
          .dropbtn {
            display: inline-block;
            float: none;
            text-align: left;
          }
        }
      }
    }

    #block-sitebranding-2 {
      max-width: 100%;
      padding: 5px 15px;
      text-align: center;
      width: 100%;
    }
  }
}
