a:hover {
  color: #111;
  text-decoration: none;
}

body {
  max-width: 1100px;
  margin: auto;
  padding: 0;
  background-color: white;
}

h2 {
  display: block;
  clear: both;
  line-height: 1.5;
  font-size: 48px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.inner-title {
  font-size: 4rem;
  line-height: 5.5rem;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

.window-size {
  height: calc(100vh - 120px - 4rem);
}

.data-blog {
  overflow: hidden;
  padding: 0;
  font-size: 50px;
  line-height: 110px;
}

.data-blog .w-embed {
  width: 100%;
  height: 100%;
}

#search-block-form {
  display: none;
}

.cart-block--summary__icon {
  display: none;
}

.button--primary.form-submit {
  margin: 1rem auto;
  display: block;
  float: none;
}

#block-copyright .field--type-text-with-summary {
  padding: 0;
}

input,
textarea {
  font-family: initial;
}

.search_icon {
  background-color: transparent;
}

.col-1,
.col-2,
.col-3 {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  max-width: 100%;
}

.big-h-img img {
  height: 100%;
  width: 100%;
}

.views-view-grid.cols-3 .views-row.clearfix {
  padding: 1rem;
}

.views-view-grid.cols-3 .col-1,
.views-view-grid.cols-3 .col-2,
.views-view-grid.cols-3 .col-3 {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  max-width: 100%;
}

.data-blog.cont-ico.smll-ico {
  padding: 0;
}

.title-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.blog-last-photo {
  overflow: hidden;
}

ul.quicktabs-tabs {
  margin: 0;
  padding: 0 0 40px;
  text-align: center;
}

ul.quicktabs-tabs li.active a {
  border: 1px solid #222 !important;
  padding: 6px 20px 5px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  width: 100%;
  display: inline-block;
}

h2 {
  text-align: center;
}

.paragraph-formatter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.paragraph-formatter .paragraph-info {
  display: none;
}

.paragraph-formatter .paragraphs-collapsed-description::after {
  content: none;
}

.bigger-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.searchbar {
  display: inline-block;
  height: 30px;
  max-height: 30px;
  margin-right: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #353b48;
  border-radius: 30px;
  line-height: 30px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 16px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
  padding: 0 10px;
  width: 150px;
  caret-color: red;
  transition: width 0.4s linear;
}

.blog-item.fashion .blog-grid-con {
  background: #f8f8f8;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 150px;
  caret-color: red;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.title-top-border {
  text-align: left;
}

#block-cartbutton {
  position: relative;
  display: inline-block;
  height: 36px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 36px;
}

.flex-center-child > div,
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#block-social {
  display: inline-block;
  line-height: 36px;
}

.page-title {
  text-align: center;
  padding: 2rem;
}

.page-title h1,
.page-title h2 {
  font-size: 36px;
}

ul.tabs.primary {
  text-align: center;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  line-height: 24px;
  height: 26px;
  overflow: hidden;
  font-size: 12px;
  font-family: verdana;
  position: relative;
}

ul.tabs.primary li {
  border: 1px solid #aaa;
  background: #d1d1d1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ececec), to(#d1d1d1));
  background: linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff;
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff;
  text-shadow: 0 1px #fff;
  margin: 0 -5px;
  padding: 0 20px;
}

ul.tabs.primary a {
  color: #555;
  text-decoration: none;
}

ul.tabs.primary li.is-active {
  background: #fff;
  color: #333;
  z-index: 2;
  border-bottom-color: #fff;
}

ul.tabs.primary:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #aaa;
  z-index: 1;
}

ul.tabs.primary li:before,
ul.tabs.primary li:after {
  border: 1px solid #aaa;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
}

ul.tabs.primary li:before {
  left: -6px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  -webkit-box-shadow: 2px 2px 0 #d1d1d1;
          box-shadow: 2px 2px 0 #d1d1d1;
}

ul.tabs.primary li:after {
  right: -6px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  -webkit-box-shadow: -2px 2px 0 #d1d1d1;
          box-shadow: -2px 2px 0 #d1d1d1;
}

ul.tabs.primary li.is-active:before {
  -webkit-box-shadow: 2px 2px 0 #fff;
          box-shadow: 2px 2px 0 #fff;
}

ul.tabs.primary li.is-active a {
  background-color: white;
}

ul.tabs.primary li.is-active:after {
  -webkit-box-shadow: -2px 2px 0 #fff;
          box-shadow: -2px 2px 0 #fff;
}

footer {
  background-color: #e0e0e0;
  margin-top: 80px;
}

footer #block-views-block-partenaires-block-1,
footer #block-pieddepage,
footer #block-footerinfos {
  margin: 0;
  width: 33%;
  float: left;
}

footer #block-views-block-partenaires-block-1 h2,
footer #block-pieddepage h2,
footer #block-footerinfos h2 {
  font-size: 30px;
}

footer #block-views-block-partenaires-block-1 *,
footer #block-pieddepage *,
footer #block-footerinfos * {
  text-align: center;
  margin: auto;
}

footer #block-pieddepage ul {
  padding: 0;
}

footer #block-pieddepage ul li {
  display: block;
}

footer #block-footerinfos p {
  text-align: center;
}

footer #block-footerinfos .blog-minimal {
  padding: 0;
}

footer #block-views-block-partenaires-block-1 .views-row {
  width: 50%;
  height: 60px;
  margin: 0;
  float: left;
  padding: 0.5em;
}

footer #block-views-block-partenaires-block-1 .views-row div {
  width: 100%;
  height: 100%;
}

.informations {
  min-height: calc(100vh - 120px - 64px - 4rem);
  padding: 1em;
}

#block-copyright {
  color: black;
}

.bottom-border,
.top-border {
  display: block;
  max-width: 1100px;
  margin: auto;
  color: black;
  background-color: #e8e8e8;
  border-radius: 5px;
}

.top-border {
  position: -webkit-sticky;
  position: sticky;
  padding: 5px 15px;
  height: 60px;
  margin-bottom: 2rem;
}

.top-border > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-border > div #block-navigationprincipale {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  width: 85%;
}

.top-border > div #block-navigationprincipale .topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-border > div #block-navigationprincipale .topnav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-border > div #block-navigationprincipale .topnav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
}

.top-border > div #block-navigationprincipale .topnav a:hover::after {
  width: 100%;
  left: 0;
  background: #fff;
}

.top-border > div #block-navigationprincipale .topnav a.w--curent::after {
  width: 100%;
  background: #ee2367;
}

.top-border > div #block-navigationprincipale .topnav .icon {
  display: none;
}

.top-border > div #block-navigationprincipale .topnav .dropdown {
  overflow: hidden;
}

.top-border > div #block-navigationprincipale .topnav .dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.top-border > div #block-navigationprincipale .topnav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-border > div #block-navigationprincipale .topnav .dropdown .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.top-border > div #block-navigationprincipale .topnav .dropdown .dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.top-border > div #block-navigationprincipale .topnav .dropdown:hover .dropdown-content {
  display: block;
}

.top-border > div #block-sitebranding-2 {
  max-width: 15%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}

.top-border > div #block-sitebranding-2 a {
  display: block;
  height: 50px;
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline .underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#block-abonnezvous {
  background: #eaeaea;
  border-radius: 5px;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
}

#block-abonnezvous p,
#block-abonnezvous h2 {
  margin-bottom: 1em;
}

#block-abonnezvous .paywall_bouton {
  border-radius: 3px;
  padding: 12px 13px;
  font-size: 2em;
  background: #ee2367;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

#dossiers .views-row,
#filter .views-row {
  padding: 1em;
}

form#views-form-commerce-cart-form-default-12 {
  font-family: Lekton, sans-serif;
}

form#views-form-commerce-cart-form-default-12 table td,
form#views-form-commerce-cart-form-default-12 table th {
  padding: 0 20px 0 0;
}

form#views-form-commerce-cart-form-default-12 .order-total-line .order-total-line-label {
  padding-right: 1em;
}

#user-page,
.user-form {
  min-height: calc(100vh - 120px - 30px - 4rem);
}

.field--name-field-author p {
  text-align: justify;
}

.section-imp {
  padding: 40px 20px;
  background-color: transparent;
}

main {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

main h1 {
  text-align: center;
}

.block-title {
  text-align: center;
}

.row {
  width: 100%;
}

.header-presentation {
  max-width: 800px;
  margin: auto;
  text-align: justify;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 100;
  font-family: Arial, sans-serif;
}

#vivarium {
  border: 1px solid black;
}

.blog-content .sub-information {
  text-align: left;
}

.tags::after {
  content: "";
  clear: both;
  display: table;
}

.tags:hover a {
  color: white;
}

.tags a:hover {
  color: white;
  opacity: 1;
}

.tags::after {
  content: "";
  clear: both;
  display: table;
}

.sidebar-class {
  padding-top: 20px;
  margin-top: 20px;
}

.add-border.left {
  border-left: 1px solid #dee2e6;
}

.add-border.right {
  border-right: 1px solid #dee2e6;
}

.add-border.top {
  border-top: 1px solid #dee2e6;
}

.add-border.bottom {
  border-bottom: 1px solid #dee2e6;
}

.center-titles {
  text-align: center;
}

.extension-preview .preview-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.extension-preview .preview-image img {
  width: 100%;
}

.extension-preview .portfolio-title {
  color: black;
}

.lecture-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.3rem;
  cursor: pointer;
}

.lecture-content > * {
  width: 50%;
  display: inline-block;
  margin: auto;
}

.lecture-content span {
  padding: 0 0.5rem;
  display: inline-block;
  font-family: Lekton, sans-serif;
  font-weight: 400;
  color: #818181;
  font-size: 15px;
}

.lectures .lecture-content {
  width: 25%;
  float: left;
}

.lectures::after {
  content: "";
  clear: both;
  display: table;
}

.js .paragraphs-collapsed-description {
  position: static;
  height: auto;
  overflow: auto;
  line-height: 20px;
}

#pdf {
  text-align: center;
  padding: 2rem;
}

#pdf .file--application-pdf {
  background-size: 1.2rem;
}

#pdf .file--application-pdf a {
  font-size: 1.3rem;
}

.preview {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.preview * {
  padding: 0 !important;
  margin: 0;
}

.preview .field__item {
  height: 100px;
  width: 100px;
}

.preview .field.field--name-field-image.field--type-image.field--label-hidden.field__item a {
  padding: 0;
}

.preview.article-preview {
  height: 180px;
  width: 100%;
}

.preview.article-preview img {
  margin: auto;
  display: block;
}

.paragraphs-collapsed-description {
  color: black;
}

.season-issue,
.sub-information {
  color: white;
  line-height: 25px;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: Lekton, sans-serif;
  text-align: center;
  margin: auto;
  letter-spacing: 0px;
}

.season-issue .paragraphs-collapsed-description,
.sub-information .paragraphs-collapsed-description {
  color: white;
}

.blog-zig-zag .sub-information,
.blog-zig-zag .season-issue {
  color: black;
  font-size: 1rem;
}

.sub-information {
  display: block;
}

.blog-hover-zoom-photo {
  padding: 1rem;
}

.nav-link {
  color: #495057;
}

.nav-link:hover {
  color: #ee2367;
}

#editorial,
#dossiers,
#individuel {
  margin: 2em auto;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: white;
  left: 0;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul li > ul:hover {
  display: inherit;
}

nav ul ul li {
  min-width: 170px;
  display: list-item;
  position: relative;
}

.sub-item {
  background-color: #f3f3f3;
  border-radius: 5px;
}

.field--type-text-with-summary {
  padding: 1rem;
}

.doc {
  padding: 1rem 0;
}

.subscription-post-banner {
  position: relative;
  height: 550px;
  background-image: url(../images/post-2.jpg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-post-banner {
  position: relative;
  height: 550px;
  background-image: url(../images/post-2.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_search {
  width: 100%;
}

.page_search .views-col {
  max-width: 100%;
  padding-bottom: 2em;
}

.page_search .views-col .views-field a {
  font-size: inherit;
  color: inherit;
}

.page_search .views-col .views-field-title-1,
.page_search .views-col .views-field-title-2,
.page_search .views-col .views-field-title-3,
.page_search .views-col .views-field-title-4,
.page_search .views-col .views-field-field-season {
  font-weight: 700;
  font-size: 20px;
}

.page_search .views-col .views-field-type-1 {
  font-size: 12px;
}

.page_search .views-col .views-field-title-5 {
  color: black;
  font-size: 13px;
}

.page_search .views-col .views-field-title-5,
.page_search .views-col .views-field-field-individu,
.page_search .views-col .views-field-created,
.page_search .views-col .list-film-cat,
.page_search .views-col .page-node-type-ouvrage-critique .field--name-field-auteur {
  font-family: "pb-bold";
  font-size: 0.75em;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

ul.quicktabs-tabs li a {
  padding: 6px 20px 5px;
  border-radius: 20px;
}

.logo {
  width: 50%;
  margin: 0;
  padding: 1rem;
  float: left;
}

.sidebar-right .title-wrapper h2 {
  font-size: 25px;
}

.sidebar-right #views-exposed-form-general-search-page-1 .form--inline.clearfix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facet-item {
  font-weight: 400;
  font-family: Lekton, sans-serif;
  letter-spacing: 3px;
}

.item-list,
.item-list ul,
.item-list li,
.video-wrapper,
.w-embed {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#intro {
  position: relative;
  width: 100%;
}

#intro .align-center {
  background-color: #ee236760;
  margin: 1em 2em;
}

#intro .align-center.season-issue {
  background-color: #ffffff60;
}

#intro a {
  font-size: 1.2rem;
  color: white;
}

#intro .w-section a {
  font-size: inherit;
  color: white;
  font-size: 1.2rem;
}

#intro .w-section a:hover {
  color: inherit;
}

#intro .sub-text-title {
  font-size: 20px;
  display: inline;
}

#intro .paragraph--type--publication-date {
  display: inline-block;
}

#intro .paragraph--type--publication-date:before {
  content: " , ";
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Lekton, sans-serif;
}

#intro .paragraph--type--publication-date div {
  display: inline-block;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: Lekton, sans-serif;
}

#intro .field--name-field-issue-number::before {
  content: "#";
  display: inline-block;
  color: #a8a8a8;
  font-size: 20px;
  font-weight: 400;
  font-family: Lekton, sans-serif;
}

#intro .field--name-field-publication-date,
#intro .field--name-field-issue-number {
  display: inline-block;
}

#intro .field--name-field-publication-date .field__item,
#intro .field--name-field-issue-number .field__item {
  display: inline-block;
  color: #a8a8a8;
  font-size: 20px;
  font-weight: 400;
  font-family: Lekton, sans-serif;
}

#intro img {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
}

#intro .embed-video,
#intro .video-wrapper {
  position: static;
}

#intro h2 {
  font-size: 1.5rem;
}

#intro h3 {
  font-size: 30px;
}

#intro h3 a {
  font-size: inherit;
  color: inherit;
}

#intro h3 a:hover {
  color: inherit;
}

.line {
  display: block;
  width: 100%;
}

.field--name-field-dossier-vivarium .field__item a {
  font-size: 20px;
  text-align: left;
  color: white;
}

.field--name-field-dossier-vivarium .field__label {
  font-size: 20px;
  text-align: right;
  color: white;
  width: 50%;
  font-weight: 400;
  font-family: Lekton, sans-serif;
}

.field--name-field-dossier-vivarium .field__label:after {
  content: "";
}

.item.blog-item {
  width: 100%;
}

.blog-grid-hiden a {
  width: 100%;
}

.blog-grid-con {
  height: 300px;
  overflow: hidden;
}

.blog-grid-con .small-spc.no-bottom-space {
  position: absolute;
  bottom: 0;
}

.blog-post-banner .sub-text-title,
#intro .sub-text-title {
  display: block;
  margin: 0;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.blog-post-banner .sub-text-title a,
#intro .sub-text-title a {
  color: white;
  font-size: 1.3rem;
}

.blog-post-banner .sub-text-title > div,
#intro .sub-text-title > div {
  display: inline;
  color: inherit;
}

.blog-post-banner .sub-text-title > div .field__item,
#intro .sub-text-title > div .field__item {
  display: inline;
}

.blog-post-banner .sub-text-title > div .field__item::before,
#intro .sub-text-title > div .field__item::before {
  content: " ";
  color: white;
}

.blog-post-banner .sub-text-title > div .field__items,
#intro .sub-text-title > div .field__items {
  display: inline;
}

.blog-post-banner .sub-text-title > div a,
#intro .sub-text-title > div a {
  color: white;
  font-size: 1.2rem;
}

.blog-post-banner .sub-text-title .field--name-field-num-pub::before,
#intro .sub-text-title .field--name-field-num-pub::before {
  content: "#";
}

#presentation > div {
  padding: 1rem;
}

.blog-post-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#citation .field--name-field-pour-citer {
  font-weight: 400;
  font-size: 15px;
  font-family: Lekton, sans-serif;
  padding: 1rem;
  color: #252525;
}

.container,
.row,
.col-sm-12 {
  padding: 0;
  margin: auto;
}

#sommaire {
  min-height: calc(100vh - 120px - 4rem);
}

.portfolio-cn-title {
  color: white;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .bottom-border {
    display: none;
  }
  #block-pieddepage,
  #block-footerinfos,
  #block-views-block-partenaires-block-1 {
    width: 100%;
    float: none;
  }
}

@media only screen and (min-width: 700px) {
  .item.blog-item {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 95%;
  }
  .top-border {
    padding: 0;
    margin-bottom: 2rem;
  }
  .top-border > div #block-navigationprincipale {
    display: block;
    width: 100%;
  }
  .top-border > div #block-navigationprincipale .top-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-border > div #block-navigationprincipale .top-nav li:not(:first-child) {
    display: none;
  }
  .top-border > div #block-navigationprincipale .top-nav .icon {
    float: right;
    display: block;
  }
  .top-border > div #block-navigationprincipale .top-nav .icon a {
    font-size: 24px;
    cursor: pointer;
  }
  .top-border #block-sitebranding-2 {
    width: 100%;
    padding: 5px 15px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1100px) {
  .item.blog-item {
    width: 33%;
  }
  .container {
    max-width: 1100px;
  }
}
/*# sourceMappingURL=style.css.map */