
body {
  max-width: 1100px;
  margin: auto;
  padding: 0;
  color: #000000;
  background-color: #fff;
}

h2 {
  display: block;
  clear: both;
  line-height: 1.5;
  font-size: 48px;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
    color: inherit;
  }
}
p {
  color: #000000;
}
.inner-title {
  font-size: 4rem;
  line-height: 5.5rem;
}

img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}

.window-size {
  min-height: calc(100vh - 120px - 4rem);
}

.data-blog {
  overflow: hidden;
  padding: 0;
  font-size: 50px;
  line-height: 110px;
  color: #ee2367;
  border: 1px solid #ee2367;
  .w-embed {
    width: 100%;
    height: 100%;
  }
}
.show-filter {
  background-color: #ee2367;
}
#search-block-form {
  display: none;
}

.cart-block--summary__icon {
  display: none;
}

.button--primary.form-submit {
  margin: 1rem auto;
  display: block;
  float: none;
}
.portfolio-sub-title {
  color: #000000;
}
#block-copyright {
  .field--type-text-with-summary {
    padding: 0;
  }
}

input,
textarea {
  font-family: initial;
}

.search_icon {
  background-color: transparent;
}

.col-1,
.col-2,
.col-3 {
  -ms-flex: 1;
  flex: 1;
  max-width: 100%;
}

.big-h-img img {
  height: 100%;
  width: 100%;
}

.views-view-grid.cols-3 {
  .views-row.clearfix {
    padding: 1rem;
  }
  .col-1,
  .col-2,
  .col-3 {
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
  }
}

.data-blog.cont-ico.smll-ico {
  padding: 0;
}

.title-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.blog-last-photo {
  overflow: hidden;
}

ul.quicktabs-tabs {
  margin: 0;
  padding: 0 0 40px;
  text-align: center;
}

ul.quicktabs-tabs li.active a {
  border: 1px solid #222 !important;
  padding: 6px 20px 5px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  width: 100%;
  display: inline-block;
}

h2 {
  text-align: center;
}

.paragraph-formatter {
  display: inline-flex;
  .paragraph-info {
    display: none;
  }
  .paragraphs-collapsed-description {
    &::after {
      content: none;
    }
  }
}

.bigger-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog-content {
  background-color: #ffffff;
}
.w-section a,
details {
  color: #000000;
}
//SearchBar
.searchbar {
  display: inline-block;
  height: 30px;
  max-height: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #353a48;
  border-radius: 30px;
  line-height: 30px;
}
.cart-form {
  td,
  th {
    padding: 1rem;
  }
}
.search_input {
  color: #fff;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 16px;
  transition: width 0.4s linear;
  //
  padding: 0 10px;
  width: 150px;
  caret-color: red;
  transition: width 0.4s linear;
}

.blog-item.fashion {
  .blog-grid-con {
    background: #f8f8f8;
  }
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 150px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: #fff;
  color: #ee2367;
}

.search_icon {
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
}

.title-top-border {
  text-align: left;
}

#block-cartbutton {
  position: relative;
  display: inline-block;
  height: 36px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 36px;
}

.flex-center-child > div,
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav#block-social {
  display: inline-block;
  line-height: 36px;
}

.page-title {
  text-align: center;
  padding: 2rem;
  h1,
  h2 {
    font-size: 36px;
  }
}

ul.tabs.primary {
  text-align: center;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  line-height: 24px;
  height: 26px;
  overflow: hidden;
  font-size: 12px;
  font-family: verdana;
  position: relative;
}

ul.tabs.primary li {
  border: 1px solid #aaa;
  background: #d1d1d1;
  background: -o-linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  background: -ms-linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  background: -moz-linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  background: -webkit-linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  background: linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #fff;
  text-shadow: 0 1px #fff;
  margin: 0 -5px;
  padding: 0 20px;
}

ul.tabs.primary a {
  color: #555;
  text-decoration: none;
}

ul.tabs.primary li.is-active {
  background: #fff;
  color: #333;
  z-index: 2;
  border-bottom-color: #fff;
}

ul.tabs.primary:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #aaa;
  z-index: 1;
}

ul.tabs.primary li:before,
ul.tabs.primary li:after {
  border: 1px solid #aaa;
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
}

ul.tabs.primary li:before {
  left: -6px;
  border-bottom-right-radius: 6px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #d1d1d1;
}

ul.tabs.primary li:after {
  right: -6px;
  border-bottom-left-radius: 6px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #d1d1d1;
}

ul.tabs.primary li.is-active:before {
  box-shadow: 2px 2px 0 #fff;
}

ul.tabs.primary li.is-active a {
  background-color: #fff;
}

ul.tabs.primary li.is-active:after {
  box-shadow: -2px 2px 0 #fff;
}

//footer
.footer {
  background-color: #f3f3f3;
  margin-top: 80px;
  #block-views-block-partenaires-block-1,
  #block-pieddepage,
  #block-footerinfos {
    margin: 0;
    width: 33%;
    float: left;
    h2 {
      font-size: 30px;
    }
    * {
      text-align: center;
      margin: auto;
    }
  }
  #block-pieddepage {
    #menu_principal {
      display: flex;
      flex-direction: column;
      .icon {
        display: none;
      }
    }
    ul {
      padding: 0;
      li {
        display: block;
      }
    }
  }
  #block-footerinfos {
    p {
      text-align: center;
    }
    .blog-minimal {
      padding: 0;
    }
  }
  #block-views-block-partenaires-block-1 {
    .views-row {
      width: 50%;
      height: 60px;
      margin: 0;
      float: left;
      padding: 0.5rem;
      a {
        width: 100%;
        height: 100%;
      }
      div {
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }
    img {
      object-fit: contain;
    }
  }
}

.informations {
  min-height: calc(100vh - 120px - 64px - 4rem);
  padding: 1rem;
}

#block-copyright {
  color: #000000;
}

.bottom-border,
.top-border {
  display: block;
  max-width: 1100px;
  margin: auto;
  color: #1a2b3f;
  background-color: #e8e8e8;
  border-radius: 5px;
  * {
    color: #1a2b3f;
  }
}

.top-border {
  position: sticky;
  padding: 5px 15px;
  height: 60px;
  margin-bottom: 2rem;
  & > div {
    display: flex;
    #block-navigationprincipale {
      display: inline-block;
      height: 50px;
      vertical-align: middle;
      width: 85%;

      .topnav {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        * {
          color: #1a2b3f;
        }
        .icon {
          display: none;
        }
        .dropdown {
          .dropbtn {
            width: 0;
            height: 0;
            padding: 0;
            background-color: transparent;

            margin: 0;
          }
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            a {
              float: none;
              color: #000000;
              padding: 12px 16px;
              text-decoration: none;
              text-align: left;
            }
          }
          &:hover .dropdown-content {
            display: block !important;
          }
        }
      }
    }
    #block-sitebranding-2 {
      max-width: 15%;
      max-height: 100%;
      width: auto;
      height: auto;
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      a {
        display: block;
        height: 50px;
      }
    }
  }
}
.menu-link {
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #000000;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
  }

  &:hover::after {
    width: 100%;
    left: 0;
    background: #000000;
  }
  &.w--current::after {
    width: 100%;
    background: #ee2367;
  }
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#block-abonnezvous {
  background: #eaeaea;
  border-radius: 5px;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  p,
  h2 {
    margin-bottom: 1rem;
  }
  .paywall_bouton {
    border-radius: 3px;
    padding: 12px 13px;
    font-size: 2rem;
    background: #ee2367;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: inline-block;
  }
}

#dossiers,
#filter {
  .views-row {
    padding: 1rem;
  }
}

form#views-form-commerce-cart-form-default-12 {
  font-family: Lekton, sans-serif;
  table {
    td,
    th {
      padding: 0 20px 0 0;
    }
  }
  .order-total-line {
    .order-total-line-label {
      padding-right: 1rem;
    }
  }
}

#user-page,
.user-form {
  min-height: calc(100vh - 120px - 30px - 4rem);
}

.field--name-field-author {
  p {
    text-align: justify;
  }
}

//COUVERTURE
.section-imp {
  padding: 40px 20px;
  background-color: transparent;
}

main {
  padding-top: 5rem;
  padding-bottom: 5rem;
  h1 {
    text-align: center;
  }
}

//GENERAL
.block-title {
  text-align: center;
}

.row {
  width: 100%;
}

.header-presentation {
  max-width: 800px;
  margin: auto;
  text-align: justify;
  padding: 2em;
  font-size: 1.2em;
  font-weight: 100;
  font-family: Arial, sans-serif;
}

#vivarium {
  border: 1px solid #000000;
}
.blog-content {
  .sub-information {
    text-align: left;
  }
}
.tags {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  &:hover {
    a {
      color: #fff;
    }
  }
  a:hover {
    color: #fff;
    opacity: 1;
  }
}

.tags::after {
  content: "";
  clear: both;
  display: table;
}

.sidebar-class {
  padding-top: 20px;
  margin-top: 20px;
}

.add-border {
  &.left {
    border-left: 1px solid #ffffff ;
  }
  &.right {
    border-right: 1px solid #ffffff;
  }
  &.top {
    border-top: 1px solid #ffffff;
  }
  &.bottom {
    border-bottom: 1px solid #ffffff;
  }
}

.center-titles {
  text-align: center;
}

.extension-preview {
  .preview-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
    }
  }
  .portfolio-title {
    color: #000000;
  }
}

.lecture-content {
  width: 100%;
  display: flex;
  margin: 0.3rem;
  padding: 0.2rem;
  & > * {
    width: 50%;
    display: inline-block;
    margin: auto;
  }
  span {
    padding: 0 0.5rem;
    display: inline-block;
    font-family: Lekton, sans-serif;
    font-weight: 400;
    color: #818181;
    font-size: 15px;
    width: 100%;
  }
}

.lectures {
  .lecture-content {
    width: 25%;
    float: left;
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.js .paragraphs-collapsed-description {
  position: static;
  height: auto;
  overflow: auto;
  line-height: 20px;
}

#pdf {
  text-align: center;
  padding: 2rem;
  .file--application-pdf {
    background-size: 1.2rem;
    a {
      font-size: 1.3rem;
    }
  }
}

.preview {
  height: 100px;
  width: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  * {
    padding: 0 !important;
    margin: 0;
  }
  .field__item {
    height: 100px;
    width: 100px;
  }
  .field.field--name-field-image.field--type-image.field--label-hidden.field__item a {
    padding: 0;
  }
}

.preview.article-preview {
  height: 180px;
  width: 100%;
  img {
    margin: auto;
    display: block;
  }
}

.paragraphs-collapsed-description {
  color: #000000;
}

.season-issue,
.sub-information {
  color: #fff;
  line-height: 25px;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: Lekton, sans-serif;
  text-align: center;
  margin: auto;
  letter-spacing: 0px;
  .paragraphs-collapsed-description {
    color: #fff;
  }
}
.blog-zig-zag img {
  width: 100%;
}
.blog-zig-zag .sub-information,
.blog-zig-zag .season-issue {
  color: #000000;
  font-size: 1rem;
}

.sub-information {
  display: block;
}

.blog-hover-zoom-photo {
  padding: 1rem;
}

.nav-link {
  color: #495057;
  &:hover {
    color: #ee2367;
  }
}

//POUR ISSUE
#editorial,
#dossiers,
#individuel {
  margin: 2em auto;
}

//MENU
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: #fff;
  left: 0;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul li > ul:hover {
  display: inherit;
}

nav ul ul li {
  min-width: 170px;
  display: list-item;
  position: relative;
}

.sub-item {
  background-color: #f3f3f3;
  border-radius: 5px;
}

.field--type-text-with-summary {
  padding: 1rem;
}

.doc {
  padding: 1rem 0;
}

.subscription-post-banner {
  position: relative;
  height: 550px;
  background-image: url(../images/post-2.jpg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-post-banner {
  position: relative;
  height: 550px;
  background-image: url(../images/post-2.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.page_search {
  width: 100%;
  .views-col {
    max-width: 100%;
    padding-bottom: 2rem;
    .views-field a {
      font-size: inherit;
      color: inherit;
    }
    .views-field-title-1,
    .views-field-title-2,
    .views-field-title-3,
    .views-field-title-4,
    .views-field-field-season {
      font-weight: 700;
      font-size: 20px;
    }
    .views-field-type-1 {
      font-size: 12px;
    }
    .views-field-title-5 {
      color: #000000;
      font-size: 13px;
    }
    .views-field-title-5,
    .views-field-field-individu,
    .views-field-created,
    .list-film-cat,
    .page-node-type-ouvrage-critique .field--name-field-auteur {
      font-family: "pb-bold";
      font-size: 0.75rem;
      letter-spacing: 5px;
      color: rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
    }
  }
}
ul.quicktabs-tabs li a {
  padding: 6px 20px 5px;
  border-radius: 20px;
}
.logo {
  width: 50%;
  margin: 0;
  padding: 1rem;
  float: left;
}
.sidebar-right {
  .title-wrapper {
    h2 {
      font-size: 25px;
    }
  }
  #views-exposed-form-general-search-page-1 {
    .form--inline.clearfix {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.facet-item {
  font-weight: 400;
  font-family: Lekton, sans-serif;
  letter-spacing: 3px;
}
.item-list,
.item-list ul,
.item-list li,
.video-wrapper,
.w-embed {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#intro {
  position: relative;
  width: 100%;
  .align-center {
    background-color: #ee236760;
    margin: 1rem 2rem;
    &.season-issue {
      background-color: #ffffff60;
    }
  }
  a {
    font-size: 1.2rem;
    color: #fff;
  }
  .w-section a {
    font-size: inherit;
    color: #fff;
    font-size: 1.2rem;
    &:hover {
      color: inherit;
    }
  }
  .sub-text-title {
    font-size: 20px;
    display: inline;
  }
  .paragraph--type--publication-date {
    display: inline-block;
    &:before {
      content: " , ";
      display: inline-block;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: Lekton, sans-serif;
    }
    div {
      display: inline-block;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: Lekton, sans-serif;
    }
  }
  .field--name-field-issue-number {
    &::before {
      content: "#";
      display: inline-block;
      color: #a8a8a8;
      font-size: 20px;
      font-weight: 400;
      font-family: Lekton, sans-serif;
    }
  }
  .field--name-field-publication-date,
  .field--name-field-issue-number {
    display: inline-block;
    .field__item {
      display: inline-block;
      color: #a8a8a8;
      font-size: 20px;
      font-weight: 400;
      font-family: Lekton, sans-serif;
    }
  }
  img {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
  }
  .embed-video,
  .video-wrapper {
    position: static;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 30px;
    a {
      font-size: inherit;
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }
}
input {
  max-width: 100%;
}
.line {
  display: block;
  width: 100%;
}

.field--name-field-dossier-vivarium {
  .field__item {
    a {
      font-size: 20px;
      text-align: left;
      color: #fff;
    }
  }
  .field__label {
    font-size: 20px;
    text-align: right;
    color: #fff;
    width: 50%;
    font-weight: 400;
    font-family: Lekton, sans-serif;
    &:after {
      content: "";
    }
  }
}

.item.blog-item {
  width: 100%;
}

.blog-grid-hiden {
  a {
    width: 100%;
  }
}

.blog-grid-con {
  height: 300px;
  overflow: hidden;
  .small-spc.no-bottom-space {
    position: absolute;
    bottom: 0;
  }
}

.blog-post-banner,
#intro {
  .sub-text-title {
    display: block;
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    a {
      color: #fff;
      font-size: 1.3rem;
    }
    & > div {
      display: inline;
      color: inherit;
      .field__item {
        display: inline;
        &::before {
          content: " ";
          color: #fff;
        }
      }
      .field__items {
        display: inline;
      }
      a {
        color: #fff;
        font-size: 1.2rem;
      }
    }
    .field--name-field-num-pub {
      &::before {
        content: "#";
      }
    }
  }
}

#presentation {
  & > div {
    padding: 1rem;
  }
}

.blog-post-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#citation {
  .field--name-field-pour-citer {
    font-weight: 400;
    font-size: 15px;
    font-family: Lekton, sans-serif;
    padding: 1rem;
    color: rgb(37, 37, 37);
  }
}

//container
.container,
.row,
.col-sm-12 {
  padding: 0;
  margin: auto;
}

//pages
#sommaire {
  min-height: calc(100vh - 120px - 4rem);
}

.portfolio-cn-title {
  color: #fff;
}
@media (max-width: 479px) {
  .inner-title {
    font-size: 43px;
    line-height: 65px;
  }
}
@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
  .blog-zig-zag {
    height: 300px;
  }
  .views-col {
    width: 100% !important;
  }
  .bottom-border {
    display: none;
  }
  ul.quicktabs-tabs {
    text-align: left;
    li {
      display: block;
      margin: 0.3rem;
      a {
        padding: 0;
      }
      &.active {
        a {
          padding: 0;
          border: none !important;
          border-bottom: 1px solid #222 !important;
          border-radius: 0;
        }
      }
    }
  }
  .footer {
    #block-pieddepage,
    #block-footerinfos,
    #block-views-block-partenaires-block-1 {
      width: 100%;
      float: none;
      border-bottom: 1px solid #e3e3e3;
      padding: 1rem 0;
    }
  }
}

@media only screen and (min-width: 700px) {
  .item.blog-item {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 95%;
  }
  .top-border {
    padding: 0;
    margin-bottom: 2rem;
    & > div {
      #block-navigationprincipale {
        display: block;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
  .item.blog-item {
    width: 33%;
  }
  .container {
    max-width: 1100px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1000px) {
  .inner-title {
    line-height: 65px;
  }
  #intro {
    .align-center {
      margin: 0;
      padding: 1rem 0;
    }
  }
  .top-border {
    & > div {
      position: relative;
      #block-sitebranding-2 {
        width: 100%;
        padding: 5px 15px;
        max-width: 100%;
        text-align: center;
      }
      #block-navigationprincipale {
        position: absolute;
        top: 50px;
        width: 100%;
        .topnav {
          flex-direction: column;
          align-items: flex-start;
          background-color: #e8e8e8;
          color: #000001;
          a,
          .dropbtn {
            display: none;
          }
          .icon {
            display: block;
            position: absolute;
            right: 10px;
            top: -25px;
            font-size: 30px;
          }
          &.responsive {
            padding: 1rem;
            a,
            .dropbtn {
              float: none;
              display: inline-block;
              text-align: left;
            }
            .dropdown {
              float: none;
              margin: 1rem auto;
              width: 100%;
              .dropbtn {
                width: 0;
                height: 0;
                padding: 0;
                background-color: transparent;

                margin: 0;
              }
              .dropdown-content {
                position: relative;
              }
            }
          }
          .dropdown {
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              z-index: 1;
              a {
                float: none;
                color: #000000;
                padding: 12px 16px;
                text-decoration: none;
                text-align: left;
              }
            }
            &:hover .dropdown-content {
              display: block;
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
