<p class="sub-information">
	<span>{{content.field_season.value}}</span>
	<span>{{content.field_date.value}}</span>
	<span>{{content.field_publication_format.value}}</span>
	<span>{{content.field_date_type.value}}</span>
</p>
