<p class="sub-information">
	<span>{{node.field_season.value.0}}</span>
	<span>{{content.field_date}}</span>
	<span>{{content.field_publication_format}}</span>
	<span>{{content.field_date_type}}</span>
</p>
