<p class="sub-information">
	<span>{{content.field_season|field_value}}</span>
	<span>{{content.field_date|field_value}}</span>
	<span>{{content.field_publication_format|field_value}}</span>
	<span>{{content.field_date_type|field_value}}</span>
</p>
