<p class="sub-information">
	<span>{{content.field_season}}</span>
	<span>{{content.field_date}}</span>
	<span>{{content.field_publication_format}}</span>
	<span>{{content.field_date_type}}</span>
</p>
