<p class="sub-information">
	<span>{{content.field_season|striptags}}</span>
	<span>{{content.field_date|striptags}}</span>
	<span>{{content.field_publication_format}}</span>
	<span>{{content.field_date_type}}</span>
</p>
