<p class="sub-information">
	<span>{{node.field_season.value.0}}</span>
	<span>{{content.field_date|field_value}}</span>
	<span>{{content.field_publication_format|field_value}}</span>
	<span>{{content.field_date_type|field_value}}</span>
</p>
