<p class="sub-information">
	<span>{{content.field_season|striptags}}</span>
	<span>{{content.field_date|striptags}}</span>
	<span>{{content.field_publication_format|striptags}}</span>
	<span>{{content.field_date_type|striptags}}</span>
</p>
