<div class="item <?=$type?>">
    <div data-ix="hover-portfolio-content" class="portfolio-overlay wow fadeInUp"><img src="images/logo-120x120.jpg">
        <a href="portfolio-item-1.html" data-ix="hide-portfolio-content-on-load" class="w-inline-block portfolio-content animsition-link">
            <div class="portfolio-cn-title">
                <h4 data-ix="scale-portfolio-title-on-load" class="portfolio-title">Lorem ipsum dolor sit amet.</h4>
                <div data-ix="scale-portfolio-title-on-load-2" class="portfolio-sub-title"><?= $type ?></div>
            </div>
        </a>
    </div>
</div>