<div class="item ">
    <div data-ix="hover-portfolio-content" class="portfolio-overlay wow fadeInUp"><img src="{{fields.field_image_de_couverture.path.content}}">
        <a href="portfolio-item-1.html" data-ix="hide-portfolio-content-on-load" class="w-inline-block portfolio-content animsition-link">
            <div class="portfolio-cn-title">
                <h4 data-ix="scale-portfolio-title-on-load" class="portfolio-title">{{ fields.title.content }}</h4>
                <div data-ix="scale-portfolio-title-on-load-2" class="portfolio-sub-title">{{fields.field_type_d_article.content}}</div>
            </div>
        </a>
    </div>
</div>