{{fields}}
<div id="intro" class="w-section banner-one">
  <div class="video-wrapper">
    <div class="w-embed">
        {{ fields.cover_image.content }}
    </div>
    <div class="video-overlay"></div>
  </div>
  <div class="w-container container-contact">
    <div class="align-center">
      <h1 class="inner-title">Titre <span class="element">du numéro</span></h1>
      <h2 style="color:white;" >{{ fields.body.content }}</h2>
      <p class="sub-text-title"><span class="numero" >Numéro 62</span>, <span class="date">Juin 2019</span></p>
    </div>
  </div>
</div>