<div class="w-col w-col-2">
    <div class="align-center">
        <div class="data-blog cont-ico smll-ico">
            <div class="w-embed">
                <i class="fa fa-apple"></i>
            </div>
        </div>
        <div class="cont-sub-txt">Apple</div>
        {% for key in fields|keys %}
            {{ key }}
        {% endfor %}
    </div>
</div>