<div class="blog-minimal">
    <div class="data-blog">
        <div class="w-embed">
            <i class="fa fa-envelope"></i>
        </div>
    </div>
    <h3 class="blog-title"><a class="blog-title animsition-link" href="/content/blog-post-12">Blog post 12</a></h3>
    <p class="meta-tag pls-category">Test</p>
    <div class="seperator center"></div>
    <p>Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Phasellus consectetuer vestibulum elit. Duis lobortis massa imperdiet.</p>
    <div class="small-spc">
        <a href="/content/blog-post-12" class="read-more animsition-link">Read More ›</a>
    </div>
</div>
{% for key in fields|keys %}
    {{ key }}
{% endfor %}