        <div class="item art print">
          <div data-ix="hover-portfolio-content" class="portfolio-overlay wow fadeInUp"><img src="images/p2.jpg">
            <a href="images/p2.jpg" data-ix="hide-portfolio-content-on-load" class="w-inline-block portfolio-content fancybox">
              <div class="portfolio-cn-title">
                <h4 data-ix="scale-portfolio-title-on-load" class="portfolio-title">Vestibulum ante</h4>
                <div data-ix="scale-portfolio-title-on-load-2" class="portfolio-sub-title">Digital Art, Print</div>
              </div>
            </a>
          </div>
        </div>