<li>
    {% for key in fields|keys %}
        {{ key }}
    {% endfor %}
    <div class="w-clearfix service-wrapper wow fadeIn" data-wow-delay="0.3s">
        <div class="service-icon">
            <div class="w-embed">
                <i class="fa fa-envelope-o"></i>
            </div>
        </div>
        <div class="service-content">
            <h4 class="service-title">{{ fields.title.contentß }}</h4>
            <p>Creating exclusive HTML Templates for ThemeForest</p>
        </div>
    </div>
</li>