<div{{attributes}} class="product">
	<div id="intro" class="w-section banner-one window-size">
		<div class="video-wrapper">
			<div aria-labelledby="Image de Couverture" class="w-embed embed-video">
				{{ product.field_image_de_couverture }}
			</div>
			<div class="video-overlay"></div>
		</div>
		<div itemscope="" itemtype="https://schema.org/Periodical" class="w-container container-contact"></div>

	</div>
	<h2 aria-labelby="Titre du Produit" itemprop="name">{{product.title}}</h2>
</div>
