<div{{attributes}} class="product">
	<div id="intro" class="w-section banner-one window-size">
		<div class="video-wrapper">
			<div aria-labelledby="Image de Couverture" class="w-embed embed-video">
				{{ product.field_image_de_couverture }}
			</div>
			<div class="video-overlay"></div>
		</div>
		<div class="w-container container-contact"></div>

	</div>

	<section class="w-section blog-post-banner" style="background-image:url('{{ file_url(product_entity.field_image_de_couverture.entity.fileuri) }}')">
		<div class="align-center"><h2 class="inner-title">{{product.title}}</h2></div>
		<div>

			
			
			<div class="arrow-down">
				<a href="#sommaire" class="w-inline-block icon-scroll"></a>
			</div>
		</div>
	</section>
</div>
