<!-- TOP BORDER -->
  <div class="top-border">
    <div class="align-center logo-presentation">
         {{ page.logos }}
    </div>
  </div>
<!-- LEFT BORDER -->
  <div class="left-border"></div>
<!-- RIGHT BORDER -->
<div class="right-border"></div>
<!-- BOTTOM BORDER -->
<div class="bottom-border"></div>
