<div{{ attributes }} >
    {% for item in items %}
        {{ item.content.date }}
        {% for key in item.content|keys %}
            {{ key }}
        {% endfor %}          
    {% endfor %}
</div>