<div{{ attributes }}>
    {% for item in items %}
        <div{{ item.attributes }} class='lecture-content'>
            {{ item.content }}
            
        </div>
    {% endfor %}
    {% for key in items|keys %}
        <div class='lecture-content'>
            {{ key }}
            
        </div>
    {% endfor %}
</div>