<div{{ attributes }}>
    {% for item in items %}
        <div{{ item.attributes }}>
            {{ item.content }}
            {% for key in item|keys %}
                {{key}}
            {% endfor %}
        </div>
    {% endfor %}
</div>