.md-layer-3-5-0 {
z-index: 1000 !important; color: #ffffff !important;
 text-align: center;
 font-size: 4.8333333333333em;
 font-family: "Lekton";
}
.md-layer-3-5-1 {
z-index: 999 !important; color: #818181 !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Lekton";
}
.md-layer-3-5-2 {
z-index: 998 !important;}
.md-layer-3-7-0 {
z-index: 2 !important; color: #121212 !important;
 text-align: center;
 font-size: 4.8333333333333em;
 font-family: "Lekton";
}
.md-layer-3-7-1 {
z-index: 2 !important; color: #818181 !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Lekton";
}
.md-layer-3-7-2 {
z-index: 2 !important;}
.md-layer-3-8-0 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 4.8333333333333em;
 font-family: "Lekton";
}
.md-layer-3-8-1 {
z-index: 2 !important; color: #818181 !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Lekton";
}
.md-layer-3-8-2 {
z-index: 2 !important;}