.md-layer-2-3-0 {
z-index: 999 !important; color: #ffffff !important;
 text-align: center;
 font-size: 4.8333333333333em;
 font-family: "Lekton";
}
.md-layer-2-3-1 {
z-index: 998 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Lekton";
}
.md-layer-2-3-2 {
z-index: 1000 !important;}
.md-layer-2-4-0 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 4.8333333333333em;
 font-family: "Lekton";
}
.md-layer-2-4-1 {
z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 1.3333333333333em;
 font-family: "Lekton";
}
.md-layer-2-4-2 {
z-index: 2 !important;}