<div{{attributes}} class="product">

	<div id="intro">
		<div class="video-wrapper">
			<div aria-labelledby="Image de Couverture" class="w-embed embed-video">
				{{ product.field_image_de_couverture }}
			</div>
		</div>
	</div>

	<h2>{{product.title}}</h2>

</div>
