{{fields}}
<h3 class="blog-title"><a class="blog-title animsition-link" href="blog-post-page.html">{{fields.title.content}}</a></h3>
<p class="meta-tag">Publié le : 09&nbsp;Mars 2020&nbsp;</p>
<div class="seperator center"></div>
<p>{{fields.body.content}}</p>
<div class="small-spc">
<a href="blog-post-page.html" class="read-more animsition-link">Lire la suite&nbsp;›</a>